// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "semantic-ui";

.portal {
 
  &__header {
    padding: 5px 0px;
  }

  &__divider {
    background-color: #E9282D;
    padding: 3px 0px;
    margin: 5px 0px;
  }

  &__card {
    margin: 5px;
  }

  &__container {
    display: flex;
  } 

  &__footer {
    margin: 5px 5px;
  }
}